@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;800&display=swap");

body {
	background-color: $backgroundColor;
	font-family: "Lato", sans-serif;
	margin: 0 1rem;
}

.body {
	@include makeAGrid(100%, 0.5fr 0.3fr repeat(3, 0.1fr), 0.5rem);
}

*:focus {
	outline: none; //?undisplay borders for inputs
}

.header {
	display: flex;
	justify-content: center;
}

.research {
	display: flex;
	justify-content: space-around;
	&__bar {
		@include form();
		&__input {
			@include input(researchBar);
		}
		&__submit {
			@include button(research);
		}
	}

	&__fields__form {
		@include form();
	}
}

.ingredient {
	&__button {
		@include button(ingredient);
	}
	&__input {
		@include input(ingredient);
	}
}

.apparatus {
	&__button {
		@include button(apparatus);
	}
	&__input {
		@include input(apparatus);
	}
}

.ustensils {
	&__button {
		@include button(ustensils);
	}
	&__input {
		@include input(ustensils);
	}
}

.results {
	@include makeAGrid(repeat(2, 1fr), 1fr, 1rem)
}

@media screen and (min-width: $largedevices) {
	body {
		margin: auto;
		max-width: 1200px;
	}

	.body {
		@include makeAGrid(1fr, 2fr 0.3fr 1fr, 0.5rem);
	}

	.header {
		grid-column: 1;
		grid-row: 1;
	}

	.research {
		grid-column: 1;
		grid-row: 2;
	}

	.research__fields {
  @include makeAGrid(repeat(6, 1fr), 1fr, 0.5rem);
		.ingredient {
			grid-column: 1;
			grid-row: 1;
		}

		.apparatus {
			grid-column: 2;
			grid-row: 1;
		}

		.ustensils {
			grid-column: 3;
			grid-row: 1;
		}
	}

	.results {
		@include makeAGrid(repeat(3, 1fr), 1fr, 1rem)
	}
}
