.recipe__card {
	position: initial;
	height: 400px;
	&__placeholder {
		background-color: $secondaryGrey;
		border-radius: 5px 5px 0 0;
		height: 150px;
	}

	&__section {
		padding: 0.5rem 1rem 5rem 1rem;
		background-color: $primaryGrey;
		border-radius: 0 0 5px 5px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		font-size: 12px;
		&__time {
			flex-direction: row-reverse;
		}
	}

	&__aside {
		@include makeAGrid(repeat(2, 1fr), 1fr, .5rem);
		height: 110px;
		font-size: 14px;
	}

	&__list {
		align-self: start;
		justify-self: start;
  font-size: 14px;
	}

	&__description {
		align-self: start;
		justify-self: start;
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
  height: inherit;
	}
}
